<html>
    <head>
        <title>flaskGPT login</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="header">
                <h1>flaskGPT login</h1>
        </div>
        <div id="api-container">
            <div id="api">
                <h3>Please enter a valid API key for OpenAI</h3>

                <form action="/api_key" method="post" id="api-form">
                    <div class="api-key">
                        <input type="text" name="api_key" />
                    </div>
                    <div class="button">
                        <button type="submit" value="Submit">Log me in!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </body>
