<!DOCTYPE html>
<html>
<head>
    <title>flaskGPT Chat</title>
    <link href="https://www.nerdfonts.com/assets/css/combo.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;700;800;900&display=swap" rel="stylesheet">
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>
    <div id="header">
            <h1>flaskGPT fileChat</h1>
    </div>

    <div id="chat-container">
        <div id="chat-history">
            {% for message in messages %}
            <div class="message {% if message['role'] == 'user' %}user-message{% else %}assistant-message{% endif%}">
                    <strong>{{ message['role'] }}:</strong>
                    {{ message['content'] | safe }} <br>
                </div>
            {% endfor %}
        </div>
        
        <form id="chat-form" action="/chat" method="post">


        <textarea rows="4" type="text" id="user-input" name="user-input" placeholder="What would you like to know..." required></textarea>

        <button id="send-button" type="submit">Send</button>


    </form>
    </div>
</body>
</html>
