body {

    font-family: "SauceCodePro", "MesloLGS Nerd Font", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Monaco", "Courier New", "Courier", "monospace";
    font-size: 16px;
    background-color: #242d35;
    color: #f6f6f6;
}

#header {
    text-align: right;
}

#header h1 {
    font-family: 'SauceCodePro', monospace;
    font-size: 32px;
    font-weight: bolder;
    padding: 20px 20px 0 20px;
    background-color: #9a9d9a;
}

#api-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100vh;
}

#api {
    padding: 20px;
    border: 3px solid #f6f6f6;
    background-color: #9a9d9a;
    border-radius: 15px;
    width: 90vh;
    display: flex;
    flex-direction: column;
    jusitfy-content: center;
    align-items: center;
}

#api-form {
    border: 3px solid #f6f6f6;
    background-color: orange;
    border-radius: 15px;
    width: 80vh;
    display: flex;
    flex-direction: column;
    jusitfy-content: center;
    align-items: center;
    padding: 15px;
}

#api-form input {
    padding: 10px;
    margin: 10px;
    border: 3px solid #f6f6f6;
    background-color: #11792d;
    border-radius: 15px;
    color: #f6f6f6;
    width: 80vh;
    font-family: SauceCodePro, monospace;
}

#chat-container  {
    margin: 0px auto;
    margin-top: 50px;
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    background-color: #1e1e1e;
    width: 65%;
    border: 2px solid #f6f6f6;
    border-radius: 15px;
}

#chat-history {
    background-color: #06521a;
    border-radius: 15px;
    color: #f6f6f6;
    min-height: 300px;
    max-height: 65vh;
    width: 100%;
    color: #fff;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#chat-history .user-message {
    margin: 10px;
    margin-top: 25px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    color: #f6f6f6;
    text-align: right;
    font-family: Ubuntu, monospace;
    font-size: 14px;
    width: fit-content;
}

#chat-history .assistant-message {
    margin: 10px;
    margin-left: 25px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 3px;
    color: #f6f6f6;
    text-align: left;
    font-family: MesloLGS Nerd Font, monospace;
    font-size: 16px;
    width: 95%;
}

#chat-form  {
    margin-top: 20px;
    padding: 20px;
    border: 3px solid #f6f6f6;
    border-radius: 10px;
    display: grid;
    justify-items: start;
    grid-template-columns: 0.3fr 1fr 0.1fr;
    grid-gap: 10px;
}

#model-select {
    border: 3px solid #f6f6f6;
    background-color: orange;
    border-radius: 5px;
    color: #f6f6f6;
    font-family: SauceCodePro, monospace;
    max-height: fit-content;
    height: fit-content;
    overflow-y: auto;
}

#user-input {
    font-family: SauceCodePro, monospace;
    width: 100%;
}
