body {
  font-family: monospace;
  background-color: #222;
  color: #eee;
  margin: 0;
  padding: 20px;
}

#title {
    margin: 0px;
    padding: 0px;
    color: #18AA6D;
    height: 3rem;
    font-family: 'Source Code Pro', monospace;
    font-size: xxx-large;
    font-style: bold;
}

#chat-container {
  width: 850;
  margin: 0 auto;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.chat-header {
  padding: 10px;
  text-align: center;
  font-size: .75em;
}

#chat-history {
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
}

#chat-history .user-message {
    background-color: darkgreen;
    color: darkorange;
    font-style: bold;
    font-size: 22x;
}

#chat-history .assistant-message {
    
}

#chat-text {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #444;
  color: #ddd;
}

#chat-form {
  display: flex;
  align-items: center;
  padding: 10px;
}

#model-select {
  padding: 5px;
  margin-right: 10px;
  max-width: 125px;
  border: 1px solid #ddd;
  background-color: #444;
  color: #ddd;
}

#user-input {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ddd;
  background-color: #444;
  color: #ddd;
}

#send-button {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

#chat-history pre {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    max-width: 70vh;
    padding: 1em;
    margin: 1em 0;
    overflow: auto;
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;
    word-break: break-all;
    line-height: 1.5;
}

#chat-history code {
    color: #333;
    font-size: 0.95em;
}

#chat-history p {
    margin: 5px;
    padding: 5px;
}

#chat-history ol {
    display: block;
    margin: 5px;
    margin-left: 50px;
    padding: 5px;
}
